* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

#header {
  width: 100%;
  position: relative;
  z-index: 2; }
  #header .inner {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    position: relative; }
    #header .inner > h1 {
      position: absolute;
      left: 5%;
      top: 50%;
      transform: translateY(-50%); }
      #header .inner > h1 a {
        font: bold 24px/1  'arial';
        color: #1F2120; }
    #header .inner #gnb {
      position: absolute;
      top: 50%;
      left: 27%;
      transform: translateY(-50%);
      margin-right: 2%; }
      #header .inner #gnb ul > li {
        display: inline-block;
        margin-left: 28px;
        padding: 35px 0; }
        #header .inner #gnb ul > li a {
          font: 14px/1 'arial';
          color: #1F2120; }
    #header .inner .util {
      position: absolute;
      top: 50%;
      right: 5%;
      transform: translateY(-50%); }
      #header .inner .util::after {
        content: '';
        display: block;
        clear: both; }
      #header .inner .util ul li {
        float: right;
        margin-right: 30px; }
        #header .inner .util ul li input {
          color: #1F2120;
          font: 14px/1 'arial';
          border: none;
          text-align: right;
          margin-right: 10px; }
        #header .inner .util ul li i {
          font-size: 14px; }

#wrap {
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
  overflow: hidden; }
  #wrap .swiper-wrapper {
    width: 100%;
    height: 100%; }
    #wrap .swiper-wrapper .swiper-slide {
      width: 100%;
      height: 100vh;
      position: relative; }
    #wrap .swiper-wrapper .sld1 .inner {
      width: 100%;
      height: 100vh;
      position: relative; }
      #wrap .swiper-wrapper .sld1 .inner > .wrap {
        display: flex;
        justify-content: space-between; }
        #wrap .swiper-wrapper .sld1 .inner > .wrap .left {
          width: 49%;
          height: 100vh;
          border-top: 1px solid #111;
          display: flex;
          padding: 30px 20px; }
          #wrap .swiper-wrapper .sld1 .inner > .wrap .left .aside {
            width: 25%;
            text-align: center; }
          #wrap .swiper-wrapper .sld1 .inner > .wrap .left .mid {
            width: auto;
            height: 100%; }
            #wrap .swiper-wrapper .sld1 .inner > .wrap .left .mid h1 {
              font: 16px/1.4 'arial';
              margin-bottom: 100px; }
            #wrap .swiper-wrapper .sld1 .inner > .wrap .left .mid img {
              width: 90%;
              height: 100%;
              object-fit: cover; }
        #wrap .swiper-wrapper .sld1 .inner > .wrap .right {
          width: 61%;
          padding: 30px;
          position: relative; }
          #wrap .swiper-wrapper .sld1 .inner > .wrap .right .mid {
            height: 70%; }
            #wrap .swiper-wrapper .sld1 .inner > .wrap .right .mid .first {
              width: 100%; }
              #wrap .swiper-wrapper .sld1 .inner > .wrap .right .mid .first h1 {
                font: 16px/1.4 'arial';
                margin-bottom: 80px; }
              #wrap .swiper-wrapper .sld1 .inner > .wrap .right .mid .first h2 {
                font: bold 70px/1 'arial'; }
            #wrap .swiper-wrapper .sld1 .inner > .wrap .right .mid .aside {
              width: auto;
              transform: rotate(-90deg);
              position: absolute;
              top: 20%;
              right: -23%; }
              #wrap .swiper-wrapper .sld1 .inner > .wrap .right .mid .aside .wrap {
                display: flex; }
                #wrap .swiper-wrapper .sld1 .inner > .wrap .right .mid .aside .wrap article {
                  width: 240px; }
                  #wrap .swiper-wrapper .sld1 .inner > .wrap .right .mid .aside .wrap article p {
                    font: 15px/1 'arial'; }
                  #wrap .swiper-wrapper .sld1 .inner > .wrap .right .mid .aside .wrap article:nth-of-type(1) {
                    width: 160px; }
          #wrap .swiper-wrapper .sld1 .inner > .wrap .right .bottom {
            height: 30%;
            border-top: 1px solid #111; }
            #wrap .swiper-wrapper .sld1 .inner > .wrap .right .bottom .row {
              margin-top: 30px;
              display: flex; }
              #wrap .swiper-wrapper .sld1 .inner > .wrap .right .bottom .row article {
                width: 250px;
                margin-right: 30px; }
                #wrap .swiper-wrapper .sld1 .inner > .wrap .right .bottom .row article p {
                  font: bold 15px/1 'arial';
                  margin-bottom: 10px; }
                #wrap .swiper-wrapper .sld1 .inner > .wrap .right .bottom .row article span {
                  font: 15px/1 'arial'; }
    #wrap .swiper-wrapper .sld2 {
      position: relative; }
      #wrap .swiper-wrapper .sld2 .inner {
        width: 100%;
        height: 100vh;
        padding: 70px 0;
        position: relative;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly; }
        #wrap .swiper-wrapper .sld2 .inner::before {
          content: '';
          display: block;
          width: 350px;
          height: 570px;
          background: #f2f1f2;
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1; }
        #wrap .swiper-wrapper .sld2 .inner::after {
          content: '';
          display: block;
          width: 350px;
          height: 570px;
          background: #f2f1f2;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 1; }
        #wrap .swiper-wrapper .sld2 .inner .aside p {
          font: bold 15px/1 'arial';
          margin-bottom: 10px; }
        #wrap .swiper-wrapper .sld2 .inner .aside span {
          font: 15px/1 'arial';
          margin-bottom: 20px;
          display: block; }
        #wrap .swiper-wrapper .sld2 .inner .right .txt {
          z-index: 2;
          margin-bottom: 80px;
          position: relative; }
          #wrap .swiper-wrapper .sld2 .inner .right .txt h1 {
            font: bold 50px/1 'arial';
            margin-bottom: 20px; }
          #wrap .swiper-wrapper .sld2 .inner .right .txt p {
            font: 14px/1.5 'arial';
            margin-bottom: 20px; }
          #wrap .swiper-wrapper .sld2 .inner .right .txt a {
            font: bold 14px/1 'arial';
            color: #111; }
          #wrap .swiper-wrapper .sld2 .inner .right .txt span {
            position: absolute;
            top: 12%;
            right: 10%;
            transform: rotate(90deg);
            font: bold 26px/1 'arial'; }
            #wrap .swiper-wrapper .sld2 .inner .right .txt span strong {
              color: #6b6b6b; }
        #wrap .swiper-wrapper .sld2 .inner .right .wrap {
          display: flex;
          z-index: 2;
          position: relative; }
          #wrap .swiper-wrapper .sld2 .inner .right .wrap article {
            width: 380px;
            height: 250px;
            margin-right: 20px;
            padding-right: 50px; }
            #wrap .swiper-wrapper .sld2 .inner .right .wrap article:last-child {
              margin-right: 0; }
            #wrap .swiper-wrapper .sld2 .inner .right .wrap article p {
              font: bold 14px/1 'arial';
              margin-bottom: 15px;
              border-bottom: 2px solid #111;
              display: inline-block;
              padding-bottom: 5px; }
            #wrap .swiper-wrapper .sld2 .inner .right .wrap article h2 {
              font: 14px/1.6 'arial';
              margin-bottom: 25px; }
            #wrap .swiper-wrapper .sld2 .inner .right .wrap article img {
              width: 100%;
              height: 100%;
              object-fit: cover; }
    #wrap .swiper-wrapper .sld3 figure {
      width: 100%;
      height: 100vh;
      overflow: hidden;
      position: relative;
      background: #bbb; }
      #wrap .swiper-wrapper .sld3 figure > section {
        width: 20vw;
        height: 50vh;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -10vw;
        margin-top: -25vh;
        transition: 0.5s; }
        #wrap .swiper-wrapper .sld3 figure > section article {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0; }
          #wrap .swiper-wrapper .sld3 figure > section article.on .inner {
            transform: scale(1.1);
            opacity: 0.9; }
          #wrap .swiper-wrapper .sld3 figure > section article .inner {
            width: 100%;
            height: 100%;
            background: #f0f7ff;
            opacity: 0.6;
            padding: 5vh 2.5vw 8vh;
            box-sizing: border-box;
            border-radius: 10px;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
            transform: scale(0.8);
            transition: opacity 1s, transform 1s;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            justify-content: center; }
            #wrap .swiper-wrapper .sld3 figure > section article .inner .pic {
              width: 15vw;
              height: 15vw;
              margin: 0 auto;
              border-radius: 50%;
              background-repeat: no-repeat;
              background-position: 200%;
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center; }
              #wrap .swiper-wrapper .sld3 figure > section article .inner .pic .dot {
                width: 3vw;
                height: 3vw;
                border-radius: 50%;
                background: #e4f1ff;
                box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
                z-index: 3;
                position: relative; }
              #wrap .swiper-wrapper .sld3 figure > section article .inner .pic::before, #wrap .swiper-wrapper .sld3 figure > section article .inner .pic::after {
                content: '';
                display: block;
                width: inherit;
                height: inherit;
                border-radius: inherit;
                position: absolute;
                top: 0;
                left: 0;
                background-image: inherit;
                background-position: center;
                background-repeat: inherit;
                background-size: cover;
                transform-origin: center center; }
              #wrap .swiper-wrapper .sld3 figure > section article .inner .pic::before {
                transform: translateY(10%);
                filter: blur(20px) brightness(1.6); }
              #wrap .swiper-wrapper .sld3 figure > section article .inner .pic.on::before {
                animation: ani2 4s linear infinite; }
              #wrap .swiper-wrapper .sld3 figure > section article .inner .pic.on::after {
                animation: ani 4s linear infinite; }
            #wrap .swiper-wrapper .sld3 figure > section article .inner .txt {
              text-align: center; }
              #wrap .swiper-wrapper .sld3 figure > section article .inner .txt h2 {
                font: 20px/1 'arial';
                color: #222;
                margin-bottom: 2vh; }
              #wrap .swiper-wrapper .sld3 figure > section article .inner .txt p {
                font-size: 12px;
                color: #777;
                margin-bottom: 3vh; }
              #wrap .swiper-wrapper .sld3 figure > section article .inner .txt ul {
                display: flex;
                justify-content: space-around; }
                #wrap .swiper-wrapper .sld3 figure > section article .inner .txt ul li {
                  cursor: pointer;
                  opacity: 0.6;
                  transition: 0.5s; }
                  #wrap .swiper-wrapper .sld3 figure > section article .inner .txt ul li.play {
                    transform: scale(1.5);
                    opacity: 0.9; }
                    #wrap .swiper-wrapper .sld3 figure > section article .inner .txt ul li.play:hover {
                      opacity: 1;
                      transform: scale(2); }
                  #wrap .swiper-wrapper .sld3 figure > section article .inner .txt ul li:hover {
                    transform: scale(1.5);
                    opacity: 0.8; }
          #wrap .swiper-wrapper .sld3 figure > section article:nth-of-type(1) {
            transform: rotate(0deg) translateY(-50vh); }
          #wrap .swiper-wrapper .sld3 figure > section article:nth-of-type(2) {
            transform: rotate(45deg) translateY(-50vh); }
          #wrap .swiper-wrapper .sld3 figure > section article:nth-of-type(3) {
            transform: rotate(90deg) translateY(-50vh); }
          #wrap .swiper-wrapper .sld3 figure > section article:nth-of-type(4) {
            transform: rotate(135deg) translateY(-50vh); }
          #wrap .swiper-wrapper .sld3 figure > section article:nth-of-type(5) {
            transform: rotate(180deg) translateY(-50vh); }
          #wrap .swiper-wrapper .sld3 figure > section article:nth-of-type(6) {
            transform: rotate(225deg) translateY(-50vh); }
          #wrap .swiper-wrapper .sld3 figure > section article:nth-of-type(7) {
            transform: rotate(270deg) translateY(-50vh); }
          #wrap .swiper-wrapper .sld3 figure > section article:nth-of-type(8) {
            transform: rotate(315deg) translateY(-50vh); }
      #wrap .swiper-wrapper .sld3 figure .btnPrev {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-20vw, -50%);
        display: flex;
        align-items: center;
        text-align: left;
        cursor: pointer; }
        #wrap .swiper-wrapper .sld3 figure .btnPrev span {
          font: 11px/1 'arial';
          color: #fff;
          opacity: 1;
          transform: translateX(30%);
          transition: 0.5s; }
        #wrap .swiper-wrapper .sld3 figure .btnPrev::before {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          background: #fff;
          position: absolute;
          top: 50%;
          left: 0px;
          transform-origin: left center;
          transform: rotate(-180deg);
          transition: 0.5s; }
        #wrap .swiper-wrapper .sld3 figure .btnPrev::after {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          background: #fff;
          position: absolute;
          bottom: 50%;
          left: 0px;
          transform-origin: left center;
          transform: rotate(180deg);
          transition: 0.5s; }
        #wrap .swiper-wrapper .sld3 figure .btnPrev:hover span {
          opacity: 0;
          transform: translateX(100%); }
        #wrap .swiper-wrapper .sld3 figure .btnPrev:hover::before {
          transform: rotate(-30deg); }
        #wrap .swiper-wrapper .sld3 figure .btnPrev:hover::after {
          transform: rotate(30deg); }
      #wrap .swiper-wrapper .sld3 figure .btnNext {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(20vw, -50%);
        display: flex;
        align-items: center;
        text-align: right;
        cursor: pointer; }
        #wrap .swiper-wrapper .sld3 figure .btnNext span {
          font: 11px/1 'arial';
          color: #fff;
          opacity: 1;
          transform: translateX(-30%);
          transition: 0.5s; }
        #wrap .swiper-wrapper .sld3 figure .btnNext::before {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          background: #fff;
          position: absolute;
          top: 50%;
          left: 0;
          transform-origin: right center;
          transform: rotate(180deg);
          transition: 0.5s; }
        #wrap .swiper-wrapper .sld3 figure .btnNext::after {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          background: #fff;
          position: absolute;
          top: 50%;
          left: 0;
          transform-origin: right center;
          transform: rotate(-180deg);
          transition: 0.5s; }
        #wrap .swiper-wrapper .sld3 figure .btnNext:hover span {
          opacity: 0;
          transform: translateX(-100%); }
        #wrap .swiper-wrapper .sld3 figure .btnNext:hover::before {
          transform: rotate(30deg); }
        #wrap .swiper-wrapper .sld3 figure .btnNext:hover::after {
          transform: rotate(-30deg); }
    #wrap .swiper-wrapper .sld4 .inner {
      width: 100%;
      height: 100vh;
      background: #ca8282; }
  #wrap .swiper-button-next {
    top: auto;
    bottom: 3vh;
    right: 3vw;
    transform: translateY(-50%);
    transform: scale(0.6);
    filter: saturate(0%) brightness(100%);
    opacity: 1; }
  #wrap .swiper-button-prev {
    top: auto;
    bottom: 3vh;
    left: auto;
    right: calc(3vw + 50px);
    transform: scale(0.6);
    filter: saturate(0%) brightness(100%);
    opacity: 1; }
  #wrap .swiper-pagination {
    position: absolute;
    left: 24%;
    width: auto;
    height: 50px;
    top: 0px; }
    #wrap .swiper-pagination span {
      width: 18px;
      height: auto;
      background: transparent;
      border-radius: 0px;
      margin-left: 60px;
      opacity: 0.8;
      color: #111;
      font: 14px/1 'arial'; }
      #wrap .swiper-pagination span.swiper-pagination-bullet-active {
        opacity: 1;
        font-weight: bold; }

@keyframes ani {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes ani2 {
  0% {
    transform: translateY(10%) ratate(0deg); }
  100% {
    transform: translateY(10%) rotate(360deg); } }

/*# sourceMappingURL=style.css.map */
