@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Noto+Sans+KR&family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

#header {
  width: 100%;
  position: relative;
  z-index: 2; }
  #header .inner {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    position: relative; }
    #header .inner > h1 {
      position: absolute;
      left: 5%;
      top: 50%;
      transform: translateY(-50%); }
      #header .inner > h1 a {
        font: bold 24px/1  'arial';
        color: #1F2120; }
    #header .inner #gnb {
      position: absolute;
      top: 50%;
      left: 27%;
      transform: translateY(-50%);
      margin-right: 2%; }
      #header .inner #gnb ul > li {
        display: inline-block;
        margin-left: 28px;
        padding: 35px 0; }
        #header .inner #gnb ul > li a {
          font: 14px/1 'arial';
          color: #1F2120; }
    #header .inner .util {
      position: absolute;
      top: 50%;
      right: 5%;
      transform: translateY(-50%); }
      #header .inner .util::after {
        content: '';
        display: block;
        clear: both; }
      #header .inner .util ul li {
        float: right;
        margin-right: 30px; }
        #header .inner .util ul li input {
          color: #1F2120;
          font: 14px/1 'arial';
          border: none;
          text-align: right;
          margin-right: 10px; }
        #header .inner .util ul li i {
          font-size: 14px; }

#wrap {
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
  overflow: hidden; }
  #wrap .swiper-wrapper {
    width: 100%;
    height: 100%; }
    #wrap .swiper-wrapper .swiper-slide {
      width: 100%;
      height: 100vh;
      position: relative; }
    #wrap .swiper-wrapper .sld1 .inner {
      width: 100%;
      height: 100vh;
      position: relative; }
      #wrap .swiper-wrapper .sld1 .inner > .wrap {
        display: flex;
        justify-content: space-between; }
        #wrap .swiper-wrapper .sld1 .inner > .wrap .left {
          width: 49%;
          height: 100vh;
          border-top: 1px solid #111;
          display: flex;
          padding: 30px 20px; }
          #wrap .swiper-wrapper .sld1 .inner > .wrap .left .aside {
            width: 25%;
            text-align: center; }
          #wrap .swiper-wrapper .sld1 .inner > .wrap .left .mid {
            width: auto;
            height: 100%; }
            #wrap .swiper-wrapper .sld1 .inner > .wrap .left .mid h1 {
              font: 16px/1.4 'arial';
              margin-bottom: 100px; }
            #wrap .swiper-wrapper .sld1 .inner > .wrap .left .mid img {
              width: 90%;
              height: 100%;
              object-fit: cover; }
        #wrap .swiper-wrapper .sld1 .inner > .wrap .right {
          width: 61%;
          padding: 30px;
          position: relative; }
          #wrap .swiper-wrapper .sld1 .inner > .wrap .right .mid {
            height: 70%; }
            #wrap .swiper-wrapper .sld1 .inner > .wrap .right .mid .first {
              width: 100%; }
              #wrap .swiper-wrapper .sld1 .inner > .wrap .right .mid .first h1 {
                font: 16px/1.4 'arial';
                margin-bottom: 80px; }
              #wrap .swiper-wrapper .sld1 .inner > .wrap .right .mid .first h2 {
                font: bold 70px/1 'arial'; }
            #wrap .swiper-wrapper .sld1 .inner > .wrap .right .mid .aside {
              width: auto;
              transform: rotate(-90deg);
              position: absolute;
              top: 20%;
              right: -23%; }
              #wrap .swiper-wrapper .sld1 .inner > .wrap .right .mid .aside .wrap {
                display: flex; }
                #wrap .swiper-wrapper .sld1 .inner > .wrap .right .mid .aside .wrap article {
                  width: 240px; }
                  #wrap .swiper-wrapper .sld1 .inner > .wrap .right .mid .aside .wrap article p {
                    font: 15px/1 'arial'; }
                  #wrap .swiper-wrapper .sld1 .inner > .wrap .right .mid .aside .wrap article:nth-of-type(1) {
                    width: 160px; }
          #wrap .swiper-wrapper .sld1 .inner > .wrap .right .bottom {
            height: 30%;
            border-top: 1px solid #111; }
            #wrap .swiper-wrapper .sld1 .inner > .wrap .right .bottom .row {
              margin-top: 30px;
              display: flex; }
              #wrap .swiper-wrapper .sld1 .inner > .wrap .right .bottom .row article {
                width: 250px;
                margin-right: 30px; }
                #wrap .swiper-wrapper .sld1 .inner > .wrap .right .bottom .row article p {
                  font: bold 15px/1 'arial';
                  margin-bottom: 10px; }
                #wrap .swiper-wrapper .sld1 .inner > .wrap .right .bottom .row article span {
                  font: 15px/1 'arial'; }
    #wrap .swiper-wrapper .sld2 {
      position: relative; }
      #wrap .swiper-wrapper .sld2 .inner {
        width: 100%;
        height: 100vh;
        padding: 70px 0;
        position: relative;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly; }
        #wrap .swiper-wrapper .sld2 .inner::before {
          content: '';
          display: block;
          width: 350px;
          height: 570px;
          background: #f2f1f2;
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1; }
        #wrap .swiper-wrapper .sld2 .inner::after {
          content: '';
          display: block;
          width: 350px;
          height: 570px;
          background: #f2f1f2;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 1; }
        #wrap .swiper-wrapper .sld2 .inner .aside p {
          font: bold 15px/1 'arial';
          margin-bottom: 10px; }
        #wrap .swiper-wrapper .sld2 .inner .aside span {
          font: 15px/1 'arial';
          margin-bottom: 20px;
          display: block; }
        #wrap .swiper-wrapper .sld2 .inner .right .txt {
          z-index: 2;
          margin-bottom: 80px;
          position: relative; }
          #wrap .swiper-wrapper .sld2 .inner .right .txt h1 {
            font: bold 50px/1 'Noto Sans KR';
            margin-bottom: 20px; }
          #wrap .swiper-wrapper .sld2 .inner .right .txt p {
            font: 14px/1.5 'arial';
            margin-bottom: 20px; }
          #wrap .swiper-wrapper .sld2 .inner .right .txt a {
            font: bold 14px/1 'arial';
            color: #111; }
          #wrap .swiper-wrapper .sld2 .inner .right .txt span {
            position: absolute;
            top: 12%;
            right: 10%;
            transform: rotate(90deg);
            font: bold 26px/1 'arial'; }
            #wrap .swiper-wrapper .sld2 .inner .right .txt span strong {
              color: #6b6b6b; }
        #wrap .swiper-wrapper .sld2 .inner .right .wrap {
          display: flex;
          z-index: 2;
          position: relative; }
          #wrap .swiper-wrapper .sld2 .inner .right .wrap article {
            width: 380px;
            height: 250px;
            margin-right: 20px;
            padding-right: 50px; }
            #wrap .swiper-wrapper .sld2 .inner .right .wrap article:last-child {
              margin-right: 0; }
            #wrap .swiper-wrapper .sld2 .inner .right .wrap article p {
              font: bold 14px/1 'arial';
              margin-bottom: 15px;
              border-bottom: 2px solid #111;
              display: inline-block;
              padding-bottom: 5px; }
            #wrap .swiper-wrapper .sld2 .inner .right .wrap article h2 {
              font: 14px/1.6 'arial';
              margin-bottom: 25px; }
            #wrap .swiper-wrapper .sld2 .inner .right .wrap article img {
              width: 100%;
              height: 100%;
              object-fit: cover; }
    #wrap .swiper-wrapper .sld3 .inner {
      padding: 20px 40px; }
      #wrap .swiper-wrapper .sld3 .inner .wrap {
        display: flex;
        height: 50vh;
        margin-top: 20px;
        position: relative;
        margin-bottom: 25px; }
        #wrap .swiper-wrapper .sld3 .inner .wrap article {
          width: calc(100% / 6);
          height: 400px;
          margin-right: 35px;
          border: 1px solid #bbb;
          display: grid;
          align-content: stretch;
          justify-items: end; }
          #wrap .swiper-wrapper .sld3 .inner .wrap article:last-child {
            margin-right: 0; }
          #wrap .swiper-wrapper .sld3 .inner .wrap article img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            filter: grayscale(1);
            margin-bottom: 10px; }
          #wrap .swiper-wrapper .sld3 .inner .wrap article p {
            font: 20px/1 'Heebo';
            transform: rotate(270deg);
            transform-origin: top left;
            margin-right: 5px; }
          #wrap .swiper-wrapper .sld3 .inner .wrap article span {
            display: block;
            padding: 10px;
            font: 20px/0.9 "Heebo"; }
      #wrap .swiper-wrapper .sld3 .inner ul {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #111;
        padding-bottom: 10px; }
        #wrap .swiper-wrapper .sld3 .inner ul li {
          font: 15px/1 'Heebo'; }
      #wrap .swiper-wrapper .sld3 .inner .txt {
        display: grid; }
        #wrap .swiper-wrapper .sld3 .inner .txt p {
          text-align: right;
          border-bottom: 1px solid #bbb;
          padding: 10px 0;
          font: 14px/1.3 'Heebo'; }
        #wrap .swiper-wrapper .sld3 .inner .txt h2 {
          text-align: right;
          font: 28px/1 'Heebo';
          padding: 15px 0;
          border-bottom: 1px solid #bbb; }
        #wrap .swiper-wrapper .sld3 .inner .txt span {
          padding: 10px 0;
          font: 14px/1.3 'Heebo'; }
    #wrap .swiper-wrapper .sld4 {
      width: 100%;
      height: 100vh; }
      #wrap .swiper-wrapper .sld4 section {
        padding: 20px; }
        #wrap .swiper-wrapper .sld4 section::after {
          content: '';
          display: block;
          clear: both; }
        #wrap .swiper-wrapper .sld4 section .item-sizer {
          width: 25%;
          height: 0;
          opacity: 0; }
        #wrap .swiper-wrapper .sld4 section .item {
          float: left;
          width: 25%;
          height: 200px;
          border-right: 1px solid #bbb;
          border-top: 1px solid #bbb; }
          #wrap .swiper-wrapper .sld4 section .item .inner {
            padding: 20px; }
            #wrap .swiper-wrapper .sld4 section .item .inner img {
              width: 100%;
              height: 100%;
              object-fit: cover; }
          #wrap .swiper-wrapper .sld4 section .item:nth-of-type(2) {
            font: 30px/1 'Heebo';
            width: 50%;
            height: 50px; }
          #wrap .swiper-wrapper .sld4 section .item:nth-of-type(3) {
            width: 50%;
            height: 400px; }
            #wrap .swiper-wrapper .sld4 section .item:nth-of-type(3) .inner {
              display: flex; }
              #wrap .swiper-wrapper .sld4 section .item:nth-of-type(3) .inner img {
                width: 50%;
                height: 300px;
                object-fit: cover; }
          #wrap .swiper-wrapper .sld4 section .item:nth-of-type(4) {
            width: 50%;
            height: 50px; }
            #wrap .swiper-wrapper .sld4 section .item:nth-of-type(4) ul {
              display: flex;
              justify-content: space-evenly; }
          #wrap .swiper-wrapper .sld4 section .item:nth-of-type(5) {
            height: 300px; }
            #wrap .swiper-wrapper .sld4 section .item:nth-of-type(5) img {
              width: 100%;
              height: 100%;
              object-fit: cover; }
          #wrap .swiper-wrapper .sld4 section .item:nth-of-type(6), #wrap .swiper-wrapper .sld4 section .item:nth-of-type(7) {
            width: 50%;
            height: 100px; }
  #wrap .swiper-button-next {
    top: auto;
    bottom: 3vh;
    right: 3vw;
    transform: translateY(-50%);
    transform: scale(0.6);
    filter: saturate(0%) brightness(100%);
    opacity: 1; }
  #wrap .swiper-button-prev {
    top: auto;
    bottom: 3vh;
    left: auto;
    right: calc(3vw + 50px);
    transform: scale(0.6);
    filter: saturate(0%) brightness(100%);
    opacity: 1; }
  #wrap .swiper-pagination {
    position: absolute;
    left: 24%;
    width: auto;
    height: 50px;
    top: 0px; }
    #wrap .swiper-pagination span {
      width: 18px;
      height: auto;
      background: transparent;
      border-radius: 0px;
      margin-left: 60px;
      opacity: 0.8;
      color: #111;
      font: 14px/1 'arial'; }
      #wrap .swiper-pagination span.swiper-pagination-bullet-active {
        opacity: 1;
        font-weight: bold; }

@keyframes ani {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes ani2 {
  0% {
    transform: translateY(10%) ratate(0deg); }
  100% {
    transform: translateY(10%) rotate(360deg); } }

/*# sourceMappingURL=style.css.map */
