@charset 'utf-8';

*{ margin:0; padding:0; box-sizing: border-box;}
ul,ol,li{ list-style:none; }
a{ text-decoration:none; }

@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Noto+Sans+KR&family=Open+Sans&display=swap');